<template>
  <main>
    <div class="row">
      <Carousel />

      <b-alert
        show
        variant="danger"
      >
        <h4 v-html="$t('info.educ_nat.title')"></h4>
        <p v-html="$t('info.educ_nat.body')"></p>
      </b-alert>
      <div
        v-if="instance"
        class="col-md-12 text-center mt-3 mb-5"
      >
        <b-dropdown
          split
          :split-href="`${instance.endpoint}${prefix}${name}`"
          split-variant="primary"
          size="lg"
          variant="outline-primary"
          offset="-80"
        >
          <template v-slot:button-content>
            <icon name="video-camera" />
            <span v-html="$t('public.create')"></span>
            <span v-html="$t('public.atalk')"></span>
          </template>
          <b-dropdown-form
            class="px-3"
            style="width: 400px"
            @submit="create"
          >
            <b-form-group
              label-for="name"
              :label="$t('public.link')"
            >
              <b-input-group
                size="sm"
                :prepend="`${instance.endpoint}${prefix}`"
              >
                <b-form-input
                  id="name"
                  v-model="name"
                  type="text"
                  maxlength="50"
                  @focusout="name = $t(` ${name}`, '-L@').replace(/[^a-zA-Z0-9]/g, '')"
                />
              </b-input-group>
            </b-form-group>
            <div class="text-right">
              <b-button
                variant="outline-primary"
                size="sm"
                @click="anotherInstance()"
              >
                <icon
                  name="random"
                />
                <span v-html="$t('public.change')"></span>
                <span
                  class="sr-only"
                  v-html="$t('public.atalk')"
                ></span>
              </b-button>
              <b-button
                variant="primary"
                size="sm"
                :href="`${instance.endpoint}${prefix}${name}`"
              >
                <span v-html="$t('public.create')"></span>
                <span
                  class="sr-only"
                  v-html="$t('public.atalk')"
                ></span>
              </b-button>
            </div>
          </b-dropdown-form>
        </b-dropdown>
        <b-form>
          <b-form-group
            label-for="name"
            class="sr-only"
            :label-sr-only="true"
            :label="$t('public.name')"
          >
            <b-input-group
              size="lg"
              :prepend="`${instance.endpoint}${prefix}`"
            >
              <b-form-input
                id="name"
                v-model="name"
                type="text"
                maxlength="50"
                @focusout="name = $t(` ${name}`, '-L@').replace(/[^a-zA-Z0-9]/g, '')"
              />
              <b-input-group-append>
                <b-button
                  variant="primary"
                  type="submit"
                  @click="create"
                >
                  <icon
                    size="lg"
                    name="video-camera"
                  />
                  <span v-html="$t('public.create')"></span>
                  <span
                    class="sr-only"
                    v-html="$t('public.atalk')"
                  ></span>
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-form>
        <div class="row justify-content-md-center">
          <div class="col-md-8">
            <span
              v-if="instance"
              class="text-muted"
              v-html="$t('public.external', {
                title: instance.title,
                website: instance.website
              })"
            ></span>
            <span
              v-if="instance && instance.chatons"
              class="text-muted"
              v-html="$t('public.chatons')"
            ></span>.<br />
            <router-link
              :to="`/${$t('lang')}/info`"
              class="text-muted"
              v-html="$t('public.full_list')"
            />
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div
          class="alert"
          v-html="$t('what.md')"
        ></div>
      </div>

      <div class="col-md-6 pr-4 pl-0">
        <div
          class="alert alert-info"
          v-html="$t('tip', {
            icon: `<i class='fa fa-video-camera' aria-hidden='true'></i>`
          })"
        ></div>
      </div>
    </div>

    <hr role="presentation" />

    <div class="row mt-4">
      <!-- Help -->
      <div class="col-md-4">
        <h2 v-html="$t('help.title')"></h2>
        <icon
          name="question-circle"
          size="3x d-block text-center mb-3"
        />
        <div
          v-html="$t('help.md', {
            icon: `<i class='fa fa-info-circle' aria-hidden='true'></i>`
          })"
        ></div>
      </div>

      <!-- About software -->
      <div class="col-md-4">
        <h2 v-html="$t('software.title')"></h2>
        <icon
          name="cloud"
          size="3x d-block text-center mb-3"
        />
        <div v-html="$t('software.md', { link: 'https://meet.jit.si' })"></div>
      </div>

      <!-- Garden -->
      <div class="col-md-4">
        <h2 v-html="$t('garden.title')"></h2>
        <icon
          name="leaf"
          size="3x d-block text-center mb-3"
        />
        <div v-html="$t('garden.md')"></div>
        <b-button
          variant="outline-success"
          :href="`${$t('link.cloud')}/${$t('cloud.talk')}`"
        >
          <icon
            name="leaf"
            label="framacloud.org"
          />
        </b-button>
      </div>
    </div>
  </main>
</template>

<script>
import { shuffle } from 'lodash';
import Carousel from '../partials/Carousel.vue';

const DEFAULT_WEIGHT = 2;

export default {
  components: {
    Carousel,
  },
  data() {
    /* Random alphanumeric name with 10 chars */
    const name = [...Array(10)].map(() => Math.random().toString(36)[3]).join('')
      .replace(/(.|$)/g, c => c[!Math.round(Math.random()) ? 'toString' : 'toLowerCase']());

    return {
      prefix: Math.trunc(new Date().getTime() / 3600000).toString(36),
      name,
      instance: null,
      instances: this.$t('instances'),
    };
  },
  mounted() {
    this.instance = this.randomInstance();
  },
  methods: {
    create(event) {
      event.preventDefault();
      this.name = this.$t(this.name, '-kL@').replace(/[^a-zA-Z0-9]/g, '');
      window.location = `${this.instance}${this.prefix}${this.name}`;
    },
    randomInstance() {
      const remoteInstancesKeys = Object.entries(this.instances)
        .filter(([, value]) => (!(value.trust === false))).map(([key]) => key);
      const totalPonderation = Object.values(this.instances)
        .reduce((acc, instance) => acc + (instance.weight || DEFAULT_WEIGHT), 0);
      const ponderation = remoteInstancesKeys.reduce(
        (acc, instanceKey) => {
          acc[instanceKey] = (this.instances[instanceKey].weight || DEFAULT_WEIGHT)
                        / totalPonderation;
          return acc;
        }, {},
      );
      return this.instances[this.weightedRand(ponderation)];
    },
    weightedRand(spec) {
      let sum = 0;
      const r = Math.random();
      // eslint-disable-next-line no-restricted-syntax
      for (const [key, value] of shuffle(Object.entries(spec))) {
        sum += value;
        if (r <= sum) return key;
      }
      return Object.keys(spec)[0];
    },
    anotherInstance() {
      let newInstance = this.instance;
      while (newInstance === this.instance) {
        newInstance = this.randomInstance();
      }
      this.instance = newInstance;
    },
  },
};
</script>
