<template>
  <div class="col-12 carousel-container">
    <b-carousel
      id="f-carousel"
      ref="f-carousel"
      fade
      :interval="interval"
      :indicators="false"
      controls
    >
      <b-carousel-slide
        :caption-html="$t('slides[0]')"
        :img-src="`${$t('baseurl')}img/${$t('lang')}/slide-framatalk04.png`"
      />
      <b-carousel-slide
        :caption-html="$t('slides[1]')"
        :img-src="`${$t('baseurl')}img/${$t('lang')}/slide-framatalk02.png`"
      />
      <b-carousel-slide
        :caption-html="$t('slides[2]')"
        :img-src="`${$t('baseurl')}img/${$t('lang')}/slide-framatalk03.png`"
      />
      <b-carousel-slide
        :caption-html="$t('slides[3]')"
        :img-src="`${$t('baseurl')}img/${$t('lang')}/slide-framatalk04.png`"
      />
    </b-carousel>
    <p
      v-if="interval === 5000"
      class="text-center play-pause"
    >
      <button
        class="carousel-control"
        @click="interval = 0"
      >
        <icon
          name="pause"
          size="fw"
          sr-only
          :label="$t('carousel.pause')"
        />
      </button>
    </p>
    <p
      v-else
      class="text-center play-pause"
    >
      <button
        class="carousel-control"
        @click="interval = 5000"
      >
        <icon
          name="play"
          size="fw"
          sr-only
          :label="$t('carousel.play')"
        />
      </button>
    </p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      interval: 5000,
    };
  },
};
</script>
